@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
}

#section{
  width: 50vw;
  margin-top: 100px;
}

p{font-size:2rem; text-align:  justify; margin-top: 20px; line-height: 175%;font-family: 'Amatic SC', cursive;}

h1{margin-top: 20px; font-family: 'Amatic SC', cursive; font-weight: 700;}

.title{
  font-size: 2.3rem;
  margin-top: 40px;
  color:  #ee0979;
  font-family: 'Lobster', cursive;
}
#progress-nar{

  height: 20px;
  left: 0;
  background:linear-gradient(to right, #ee0979,#64f38c,#fff);
}
.topDiv{
 top: 0;
 z-index: 10;
 position: fixed;
 width: 100%;
 background-color: #fff;
}

img{
  width: 50vw;
  height: 250px;
}